* {-webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-box-shadow: none; box-shadow: none;}
body {-webkit-touch-callout: none; -webkit-text-size-adjust: none; -webkit-user-select: none; background: url(../img/geometry.png);}
nav {border: none; color: #f0f0f0; background-color: tomato;}
ul, li {background: none !important; color: #333;}
li:last-child {border-bottom: none;}
#instafeed div {width: 306px; margin: auto; margin-bottom: 10px;}